html, body {
	font-family: Helvetica;
	color: black;
	background: white;
}

#YMapsID {
	display: none;
}

#ControlPanel {
	display: none;
}

#MapListForm {
/*	position: absolute;
	top: 30px;
	bottom: 0px;
*/}

#AddButton, #ClearButton {
	display: none;
}

#KPPanel {
/*	display: none;*/
}

#KPList {
	border: 1px solid #ccc;
	list-style: none;

	margin: 0;
	padding: 0;

	-webkit-column-count: 3;
}
